# omnitask_plus_frontend

omnitask_plus_frontend/tsconfig.*
omnitask_plus_frontend/tsconfig.node.json
omnitask_plus_frontend/Data.json
omnitask_plus_frontend/firebase.js


# Logs
omnitask_plus_frontend/logs
omnitask_plus_frontend/*.log
omnitask_plus_frontend/npm-debug.log*
omnitask_plus_frontend/yarn-debug.log*
omnitask_plus_frontend/yarn-error.log*
omnitask_plus_frontend/pnpm-debug.log*
omnitask_plus_frontend/lerna-debug.log*

omnitask_plus_frontend/node_modules
omnitask_plus_frontend/dist
omnitask_plus_frontend/dist-ssr
omnitask_plus_frontend/*.local
omnitask_plus_frontend/.env.local
omnitask_plus_frontend/*.json
omnitask_plus_frontend/*.lock
omnitask_plus_frontend/src/Data.json
omnitask_plus_frontend/src/Task.json

# Editor directories and files
omnitask_plus_frontend/.vscode/*
!/omnitask_plus_frontend/.vscode/extensions.json
omnitask_plus_frontend/.idea
omnitask_plus_frontend/.DS_Store
omnitask_plus_frontend/*.suo
omnitask_plus_frontend/*.ntvs*
omnitask_plus_frontend/*.njsproj
omnitask_plus_frontend/*.sln
omnitask_plus_frontend/*.sw?

# omnitask_plus_backend
omnitask_plus_backend/__pycache__/
omnitask_plus_backend/*.py[cod]
omnitask_plus_backend/*$py.class

.vscode/

.env
# C extensions
*.so

# Distribution / packaging
omnitask_plus_backend/dist
omnitask_plus_backend/.Python
omnitask_plus_backend/build/
omnitask_plus_backend/develop-eggs/
omnitask_plus_backend/downloads/
omnitask_plus_backend/eggs/
omnitask_plus_backend/.eggs/
omnitask_plus_backend/lib/
omnitask_plus_backend/lib64/
omnitask_plus_backend/parts/
omnitask_plus_backend/sdist/
omnitask_plus_backend/wheels/
omnitask_plus_backend/share/python-wheels/
omnitask_plus_backend/*.egg-info/
omnitask_plus_backend/.installed.cfg
omnitask_plus_backend/*.egg
omnitask_plus_backend/MANIFEST

# PyInstaller
omnitask_plus_backend/*.manifest
omnitask_plus_backend/*.spec

# Installer logs
omnitask_plus_backend/pip-log.txt
omnitask_plus_backend/pip-delete-this-directory.txt

# Unit test / coverage reports
omnitask_plus_backend/htmlcov/
omnitask_plus_backend/.tox/
omnitask_plus_backend/.nox/
omnitask_plus_backend/.coverage
omnitask_plus_backend/.coverage.*
omnitask_plus_backend/.cache
omnitask_plus_backend/nosetests.xml
omnitask_plus_backend/coverage.xml
omnitask_plus_backend/*.cover
omnitask_plus_backend/*.py,cover
omnitask_plus_backend/.hypothesis/
omnitask_plus_backend/.pytest_cache/
omnitask_plus_backend/cover/

# Translations
omnitask_plus_backend/*.mo
omnitask_plus_backend/*.pot

# Django stuff:
omnitask_plus_backend/*.log
omnitask_plus_backend/local_settings.py
omnitask_plus_backend/db.sqlite3
omnitask_plus_backend/*.db
omnitask_plus_backend/db.sqlite3-journal

# Flask stuff:
omnitask_plus_backend/instance/
omnitask_plus_backend/.webassets-cache

# Scrapy stuff:
omnitask_plus_backend/.scrapy

# Sphinx documentation
omnitask_plus_backend/docs/_build/

# PyBuilder
omnitask_plus_backend/.pybuilder/
omnitask_plus_backend/target/

# Jupyter Notebook
omnitask_plus_backend/.ipynb_checkpoints

# IPython
omnitask_plus_backend/profile_default/
omnitask_plus_backend/ipython_config.py

# pyenv
# .python-version

# pipenv
#Pipfile.lock

# poetry
#poetry.lock

# pdm
#pdm.lock
omnitask_plus_backend/.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
omnitask_plus_backend/__pypackages__/

# Celery stuff
omnitask_plus_backend/celerybeat-schedule
omnitask_plus_backend/celerybeat.pid

# SageMath parsed files
omnitask_plus_backend/*.sage.py

# Environments
omnitask_plus_backend/.env
omnitask_plus_backend/.venv
omnitask_plus_backend/bin
omnitask_plus_backend/lib
omnitask_plus_backend/include
omnitask_plus_backend/env/
omnitask_plus_backend/venv/
omnitask_plus_backend/ENV/
omnitask_plus_backend/env.bak/
omnitask_plus_backend/venv.bak/
omnitask_plus_backend/task.json
omnitask_plus_backend/uploads/

# Spyder project settings
omnitask_plus_backend/.spyderproject
omnitask_plus_backend/.spyproject

# Rope project settings
omnitask_plus_backend/.ropeproject

# mkdocs documentation
omnitask_plus_backend/site

# mypy
omnitask_plus_backend/.mypy_cache/
omnitask_plus_backend/.dmypy.json
omnitask_plus_backend/dmypy.json

# Pyre type checker
omnitask_plus_backend/.pyre/

# pytype static type analyzer
omnitask_plus_backend/.pytype/

# Cython debug symbols
omnitask_plus_backend/cython_debug/

omnitask_plus_backend/*.pyc

*.pyc


# PyCharm
#.idea/
blog.docx
mvp_specification.docx
.DS_Store

omnitask_plus_backend/pyvenv.cfg
